<head>
  <meta charset="UTF-8">
  <title>Tech Blogy</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around min-100-vh">
    <header class="flex-column">
     <nav class="display-flex justify-space-between align-center p-2">
      <a href="">HOME</a>
      <a href="">DASHBOARD</a>
      <a href="">LOGIN</a>
      <a href="">LOGOUT</a>
     </nav>
      <h1 class="p-2">
        Tech Blog
      </h1>
    </header>
      <main class="container container-fluid mt-5 flex-grow-1">
        {{{ body }}}
      </main>
      <footer>
        <p>Built by Willy B</p>
      </footer>
  </div>
  </body>

</html>