<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around min-100-vh">
    <header class="flex-column">
     <nav class="display-flex align-center p-2">
      <a href="/" class="header-links">HOME</a>
      <a href="/dashboard" class="header-links">DASHBOARD</a>
      {{#if loggedIn}}
    <a id="logout" class="header-links">LOGOUT</a>
    {{else}}
    <a href="/login" class="header-links">LOGIN</a>
    {{/if}}
     </nav>
     {{#if loggedIn}}
      <h1 class="title">
        YOUR DASHBOARD
      </h1>
      {{else}}
      <h1 class="title">
        TECH BLOG
      </h1>
      {{/if}}
    </header>
      <main class="container container-fluid mt-5" id="mainBody">
        {{{ body }}}
      </main>
      <footer>
        <p>BUILT BY WILLY B</p>
      </footer>
  </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>

</html>