<head>
  <meta charset="UTF-8">
  <title>Willy B's Tech Talks</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around min-100-vh">
    <header class="flex-column">
     <nav class="display-flex align-center p-2">
      <a href="/" class="header-links">Home</a>
      <a href="/dashboard" class="header-links">Dashboard</a>
      {{#if loggedIn}}
    <a id="logout" class="header-links">Logout</a>
    {{else}}
    <a href="/login" class="header-links">Login</a>
    {{/if}}
     </nav>
     {{#if loggedIn}}
      <h1 class="title">
        TECH TALKS
      </h1>
      <h4>
        where small ideas make big strides
      </h4>
      {{else}}
      <h1 class="title">
        TECH TALKS
      </h1>
      <h4>
        where small ideas make big strides
      </h4>
      {{/if}}
    </header>
      <main class="container" id="mainBody">
        {{{ body }}}
      </main>
  </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
    <footer class="footer">
        <a href="https://github.com/willbrennana" target="_blank">Built by Willy B</a>
      </footer>
  </body>
</html>