<div class="display-flex justify-space-between p-3 mb-3 flex-column user-post">
    <div class="col-10 m-auto">
        <div>
            <h2 class="page-title title">LET'S TALK</h2>
        <form class="form create-post-form">
            <div class="form-group">
                <label for="post-title">Title</label>
                <input class="form-input" type="text" id="title" />
            </div>
            <div class="form-group">
                <label for="body">Content</label>
                <input class="form-input" id="body" />
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit" id="postCreate">Create Post</button>
            </div>
        </form>
    </div>
</div>
</div>
<script src="./js/post.js"></script>