<div class="container p-5">
    <div class="display-flex justify-space-between p-3 mb-3 flex-column user-post">
    <div class="col-10 m-auto">
        <div>
            <h2 class="page-title title">No idea's too small...</h2>
        <form class="form create-post-form">
            <div>
                <label>What's the name of your idea?</label>
                <input class="form-input" type="text" id="title" />
            </div>
            <div>
                <label>Could you describe it in a few sentences?</label>
                <input class="form-input" id="body" />
            </div>
            <div class="text-center">
                <button class="btn btn-primary" id="postCreate">Get It Out There</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
<script src="./js/post.js"></script>