<div class="m-5 col-md-6">
  <div>
    <h2 class="title">Welcome to The Party</h2>
    <form class="signup-form">
      <div>
        <label for="username-signup">Username</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div>
        <label for="email-signup">Email</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
      <div class="signin">
      <a href="/login">Already signed up? Log in here.</a>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>