<div class="row justify-space-between-md m-auto col-md-6">
  <div class="post-card">
    <h2 class="page-title">SIGNUP</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">USERNAME:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">EMAIL:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">PASSWORD:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">SIGNUP</button>
      </div>
      <a href="/login">LOGIN INSTEAD</a>
    </form>
  </div>
</div>

<script src="../public/js/signup.js"></script>