:root {
    --primary: #20FC8F;
    --secondary: black;
    --tertiary: fuchsia;
    --quatrinary: #6c6b67;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }

  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--light);
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--secondary);
    border-bottom-style: solid;
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  nav {
    background-color: var(--secondary);
    display: flex;
  }
  
/* CLASSES */

  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .comments {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer {
    text-align: center;
    padding: 2.5%;
    padding-top: 50px;
  }

  .header-links {
    padding-right: 20px;
    color: var(--tertiary);
  }

  .login {
    align-items: center;
  }

  .signin {
    padding-top: 20px;
  }

  .title {
    padding-top: 20px;
  }

  /* POST CLASSES */

  .user-post {
    color: black;
    margin-bottom: 1rem;
    background-color: var(--primary);
    padding: 0.625rem;
    border: 3px solid var(--secondary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    width: 100%;
  }

  .post-body {
    padding: 2.5%;
    font-size: 1.4rem;
  }

  .post-card {
    margin: 20px;
    flex: 0 2 300px;
    padding: 5px;
    width: 35%;
    min-height: 20%;
    min-width: 100%;
    border: 3px solid var(--secondary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--primary);
    color: var(--dark);
  }
  
  .post-header {
    color: var(--light);
    flex-direction: column;
    margin: 0;
    background-color: var(--secondary);
    padding: 0.625rem;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
  }